@page
@model G24.Pages.Users.DeleteModel
@{
}


<div class="card">
    <div class="card-header"><h1>Delete User</h1></div>
    <div class="card-body">

        <h3 class="text-danger" id="Error">Are you sure you want to delete this User?</h3>
        <div>
            <label asp-for="@Model.UserRecord.UserID" id="ImageID"> User ID </label>
            <span> : </span>
            @Model.UserRecord.UserID
        </div>
        <div>
            <form method="post">
                <input type="hidden" asp-for="UserRecord.UserID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>
