@page
@model G24.Pages.Users.IndexModel
@{
}
<h1>Your Account</h1>

<h2>Welcome @Model.ActiveRecord.Active_FirstName</h2>
<ul>
    <li><a asp-page="/ImgController/Upload">Upload</a></li>
    <li><a asp-page="/Logout/Logout">Logout</a></li>
</ul>

@if (Model.ActiveRecord.Active_ModLevel == 1)
{
    <h2>Admin Options</h2>
    <ul>
        <li><a asp-page="/Users/View">View All Users</a></li>
        <li><a asp-page="/ImgController/View">View All Images</a></li>
        <li><a asp-page="/Users/Create">Create User</a></li>
    </ul>
}