@page
@model G24.Pages.ImgController.DeleteModel
@{
}




<div class="card">
   <div class="card-header"><h1>Delete Image</h1></div>
    <div class="card-body">
        
        <h3 class="text-danger" id="Error">Are you sure you want to delete this image?</h3>
        <div>
            <label asp-for="@Model.ImgRecord.ImgID" id="ImageID"> Image ID </label>
            <span> : </span>
            @Model.ImgRecord.ImgID
        </div>
        <div>
            <form method="post">
                <input type="hidden" asp-for="ImgRecord.ImgID" />
                <input type="hidden" asp-for="ImgRecord.ImgURL" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>
