@page
@model G24.Pages.ImgController.IndexModel
@{
}


<div class="img-card card" style="">
    <div class="card-header"> <h1>@Model.ImgRecord.ImgName</h1> </div>
    <img class="image-display" src="~/ImgUploads/@Model.ImgRecord.ImgURL" />
    <div class="card-body">
        <p class="card-text">
            This image was uploaded by: @Model.UploadUser
            Would you like to download this image?
        </p>
        <a asp-page="/ImgController/Index" asp-route-imgid="@Model.ImgRecord.ImgID" asp-route-download="1"><p class="btn btn-primary">Download</p></a>
    </div>
</div>
