@page
@model G24.Pages.ImgController.IndexModel
@{
}

<h1>Your Account</h1>

<h2>Welcome @Model.ActiveRecord.Active_FirstName</h2>

<h2>View Al Users</h2>
<a asp-page="/Users/View">All Users</a>

<p><a asp-page="/Logout/Logout">Logout</a></p>