body {
    padding: 0px;
    margin: 0px;
    font: 300 15px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}


#site-loader {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    top: 0px;
    left: 0px;
    z-index: 100;
    position: fixed;
}

#loading-spinner {
    top: 48%;
    left: 48vw;
    width: 4vw;
    height: 4vw;
    /*-webkit-transform: translate(-50%, -50%);*/
    position: absolute;
}



main {
    padding-top: 60px;
}

header {
    position: relative;
    z-index: 100 !important;
}

.navbar {
    z-index: 100;
}

.img-view-display {
    width: 10vw !important;
}

.hero {
    height: 100vh !important; /* this is important to cancel out the height given to container in the layout*/
    width: 100vw;
}



.hero-banner {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1511497584788-876760111969?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80");
    background-position: 50% 40%;
    /*repeat: no-repeat;*/
}

.hero-text {
    color: white;
    font-size: 20vh;
    position: fixed;
    z-index: 2;
    color: #ffffff;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(-50%, -50%);
    writing-mode: vertical-rl;
    mix-blend-mode: difference;
}

.img-upload-preview {
    width: 200px;
}

.container div {
    height: auto;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: #ffffff;
}



.wrapper {
    position: relative;
    z-index: 3;
    padding: 5vh 0px;
    width: 100vw;
    height: auto;
    background: #ffffff;
}

.container .nav {
    padding: 0px 0px 5vh 0px;
}

[class*="col-"] {
    padding: 0;
}

img {
    width: 100%;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}


.image-column {
    position: relative;
    margin: 5px;
}



    .image-column:hover .overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100% !important;
        width: 100%;
        background-color: rgba(0,0,0,0.7)

    }

.overlay {
    visibility: hidden;
}

    .main {
    margin-bottom: 0;
    padding-bottom: 0;
}


    .overlay h3 {
        position: absolute;
        top: 30%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        color: #ffffff;
    }

.overlay p {
    position: absolute;
    bottom: 10%;
    left: 50%;

    -webkit-transform: translate(-50%, 50%);
    color: #ffffff;
}


.image-column:hover .overlay, .image-column:hover .download-icon {
    visibility: visible;
}


.fade {
    animation: fade 4s ease both;
    pointer-events: none;
}


@keyframes fade {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 0;
        z-index: 200;
    }

    100% {
        opacity: 0;
        visibility: collapse;
        z-index: -1;
    }
}