@page
@model G24.Pages.Login.LoginModel
@{
}
<h1>Login</h1>
<a asp-page="/Users/Create">Sign Up</a>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            
            <div class="form-group">
                <label asp-for="UserRecord.EmailAddress" class="custom-control-label">Username</label>
                <input type="text" asp-for="UserRecord.EmailAddress" class="form-control" />
                <span asp-validation-for="UserRecord.EmailAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserRecord.Password" class="custom-control-label">Password</label>
                <input type="text" asp-for="UserRecord.Password" class="form-control" />
                <span asp-validation-for="UserRecord.Password" class="text-danger"></span>
            </div>

            <div>
                <input type="submit" value="login" class="btn btn-primary"/>
            </div>
            


        </form>
        <div>
            <p style="color:red">@Model.Message</p>
        </div>
    </div>
</div>