<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - G24</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link  rel="stylesheet" href="~/css/main.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">G24</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @{ /*
var sessionModData = ViewData.Model.HttpContext.HttpContext.Session.GetString("modLevel");
if (sessionModData > 0)
{
<li class="nav-item">
<a class="nav-link text-dark" asp-area="" asp-page="/Users/View">Admin Panel</a>
</li>
}
if (sessionModData == null)
{
<li class="nav-item">
<a class="nav-link text-dark" asp-area="" asp-page="/Login/Login">Login</a>
</li>

<li class="nav-item">
<a class="nav-link text-dark" asp-area="" asp-page="/Logout/Logout">Logout</a>
</li>
}
else 
if (ViewData.Model.HttpContext.HttpContext["Session"] != null)
{
<li class="nav-item">
<a class="nav-link text-dark" asp-area="" asp-page="/Login/Login">Login</a>
</li>
}
*/
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Index">Acount</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @{
        /*
    public string SessionID;
    public const string Session_SessionID = "sessionID";
    public string EmailAddress;
    public const string Session_EmailAddress = "emailAddress";
    public string FirstName;
    public const string Session_FirstName = "firstName";
    public int? ModLevel;
    public const string Session_ModLevel = "modLevel";

    
    SessionID = ViewData.Model.HttpContext.HttpContext.Session.GetString(Session_SessionID);
    EmailAddress = ViewData.Model.HttpContext.Session.GetString(Session_EmailAddress);
    FirstName = ViewData.Model.HttpContext.Session.GetString(Session_FirstName);
    ModLevel = ViewData.Model.HttpContext.Session.GetInt32(Session_ModLevel);
    */
       
        //Get the current Page if index display a different layout.
        var controller = ViewData.Model.HttpContext.HttpContext.Request.RouteValues.Values[0].ToString();
    }

    @if (controller == "/Index")
    {
        <div class="content">
            <main role="main" class="pb-3">



                @RenderBody()
            </main>
        </div>

    }
    else
    {
        <div class="container">
            <main role="main" class="pb-3">



                @RenderBody()
            </main>
        </div>
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - G24 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
